* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
    place-content: center;
    align-items: center;
    background-color: #EAF2FF;
    font-family: sans-serif;
}

.header {
    margin-bottom: 1rem;
}

.header-p {
    margin-bottom: 2rem;
}

.ticket-wrapper {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;
    height: 93px;
    width: 71%;
    align-items: center;
}

div .time {
    width: 22%;
    height: 100%;
    text-align: center;
}

#t-one {
    background-color: #F6D9D3;
    padding: 10px;
    border-radius: 10px;
}

#t-two {
    background-color: #EAF3D0;
    padding: 10px;
    border-radius: 10px;
}

#t-three {
    background-color: #D4E6F4;
    padding: 10px;
    border-radius: 10px;
}

#t-four {
    background-color: #E9DCFE;
    padding: 10px;
    border-radius: 10px;
}

.time h2 {
    font-size: 24px;
}

.text h3 {
    margin-bottom: .35rem;
    font-weight: 600;
    font-size: 22px;
}

.text p {
    font-size: 14px;
}

button {
    width: 24%;
    padding: 10px 30px;
    background-color: transparent;
    border: none;
    font-weight: 600;
}

div .buy-ticket {
    width: 24%;
    height: 80%;
}

.buy-ticket {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: #fff;
    background-color: black;
    padding-left: 10px;
    border-radius: 10px;
}

.bt-word {
    font-size: 14px;
}